<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/server/css/main.css">
</head>
<body>
    <nav class="blue white" id="totop">
      <div class="nav-wrapper black-text ">
        <a href="#" class="left brand-logo black-text">KLOTHINGS</a>
        <ul class="right black-text">
          <li><a class=" black-text" href="/admin/users/api/dashboard">Home</a></li>
          <li><a class=" black-text" href="/admin/users/api/mens/view">Mens</a></li>
          <li><a class=" black-text" href="/admin/users/api/womens/view">Womens</a></li>
          <li><a class=" black-text" href="/admin/users/api/accessories/view">Accessories</a></li>
          <li><a class=" black-text" href="/admin/users/api/deals/view">deals</a></li>
          <li><a href="/admin/users/api/email" class="black-text">Subscribers</a></li>
          <li><a class=" black-text" href="/admin/users/api/coupens/view">coupens</a></li>
          <li><a class="black-text" href="/admin/users/regester">Regester</a></li>
          <li class="red"><a href="/admin/users/logout">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">