<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About | Klothigs</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/server/css/blog.css">
</head>
<body>
    <div class="container">
        <h2 class="center">ABOUT US</h2>
   <h4>Start Of Klothings:</h4>     
<p>
    The company was formed in April of 2019 in an aim to help people in providing a collection of Different kinds and flavors of Dresses and Accessories from multiple Merchants in a Single store.
    </p>

<h4>About Us:</h4>
    <p>
    
    Klothings is one of the user-friendly online shopping portals in India. We bring out many of the Hottest and Beautiful fashion clothes and Accessories from many Merchants all over the Globe. 
        We also provide excess of Offers and Best deals for our customers and help them to buy their products at low cost. We work in a motive that the customers we get should feel the value for their 
        hardworking money and choose their products on their desired taste.</p>

<h4>What we do for you:</h4>
<p>
    The answer is very exciting. In a single portal you will be able to find many kinds of clothes and accessories for yourselves. This makes people feel that they are in a sea of dresses. We also 
    provide the best Coupons and Offers from various fashion website for you because we feel that saving and spending money smartly is the key and we bring it into consideration to keep our customers 
    satisfied. People can loot their products using coupons and surf all through what they want since We have it All.
    </p> 

<h4>Conclusion:</h4>
<p>
    We hope you are enjoying our place as much as we enjoy working for you. if you have any comments or queries, please dont hesitate to contact us. Instead it would strengthen our relationship.</p>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>