
<p class="center def-font-cap" style="font-size: 2rem; text-transform: uppercase;">Women's Fashion</p>
<div class="catogeries-wrapper" ng-mouseover="hovering(e)">
    <div ng-repeat="item in minibanners" ng-click="scrollToTop()" class="catogeriesList"><a ng-href="{{item.link}}">
        <img ng-src="{{item.img}}" alt="">
        </a>
    </div>
</div>
<p class="center def-font-cap" style="font-size: 2rem; text-transform: uppercase;">Men's Fashion</p>
<div class="catogeries-wrapper" ng-mouseover="hovering(e)">
    <div ng-repeat="item in minibannersMen" ng-click="scrollToTop()" class="catogeriesList"><a ng-href="{{item.link}}">
        <img ng-src="{{item.img}}" alt="">
        </a>
    </div>
</div>
<p class="center def-font-cap" style="font-size: 2rem; text-transform: uppercase;">Accessories For Him</p>
<div class="catogeries-wrapper" ng-mouseover="hovering(e)">
    <div ng-repeat="item in minibannersAccess" ng-click="scrollToTop()" class="catogeriesList"><a ng-href="{{item.link}}">
        <img ng-src="{{item.img}}" alt="">
        </a>
    </div>
</div>
<p class="center def-font-cap" style="font-size: 2rem; text-transform: uppercase;">Accessories For Her</p>
<div class="catogeries-wrapper" ng-mouseover="hovering(e)">
    <div ng-repeat="item in minibannersAccess2" ng-click="scrollToTop()" class="catogeriesList"><a ng-href="{{item.link}}">
        <img ng-src="{{item.img}}" alt="">
        </a>
    </div>
</div>