<div class="catogeries-wrapper" ng-mouseover="hovering(e)">
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Kurthas">
        <img src="./../assets/page/category/kurtha/img.jpg" alt="">
        <p>KURTHAS</p></a>
    </div>
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Tops">
        <img src="./../assets/page/category/tees/img.jpg" alt="">
        <p>TOPS</p></a>
    </div>
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Skirts">
        <img src="./../assets/page/category/shirts/img.jpg" alt="">
        <p>SKIRTS</p></a>
    </div>
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Short-top">
        <img src="./../assets/page/category/bottom/img.jpg" alt="">
        <p>SHORT-TOP</p></a>
    </div>
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Sleeveless-top">
        <img src="./../assets/page/category/tops/img.jpeg" alt="">
        <p>SLEEVELESS-TOP</p></a>
    </div>
</div>

<div class="catogeries-wrapper" ng-mouseover="hovering(e)">
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Tees">
        <img src="./../assets/page/category/girls-top/img.jpg" alt="">
        <p>TEES</p></a>
    </div>
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Jackets">
        <img src="./../assets/page/category/kurtha/img.jpg" alt="">
        <p>JACKETS</p></a>
    </div>
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Blazers">
        <img src="./../assets/page/category/tees/img.jpg" alt="">
        <p>BLAZERS</p></a>
    </div>
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Waistcoats">
        <img src="./../assets/page/category/shirts/img.jpg" alt="">
        <p>WAISTCOATS</p></a>
    </div>
    <div ng-click="scrollToTop()" class="catogeriesList"><a href="#!catogery/Tshirt">
        <img src="./../assets/page/category/bottom/img.jpg" alt="">
        <p>TSHIRT</p></a>
    </div>
</div>