<div class="dashboard-wrapper" style="position: relative; top: -125px">
    <div class="section" >
        <div class="row" ng-controller="Dressfilter">
            <div class="section">
                <div class="left bredCrub-withut-shadow">
                    <a href="#!">Home</a>
                    <i class="material-icons">chevron_right</i>
                </div>
            </div>
            
        <div class="carousel carousel-slider z-2" style="top: -115px; height:500px;">
          <a class="carousel-item" href="#!"><img class="carosel-image" ng-src="{{carosels.one}}" ></a>
          <a class="carousel-item" href="#!"><img class="carosel-image" ng-src="{{carosels.two}}" ></a>
          <a class="carousel-item" href="#!"><img class="carosel-image" ng-src="{{carosels.three}}" ></a>
          <a class="carousel-item" href="#!"><img class="carosel-image" ng-src="{{carosels.four}}" ></b>
          <b class="carousel-item" href="#!"><img class="carosel-image" ng-src="{{carosels.five}}" ></a>
        </div>
        <div class="placeholder-img">
            <img src="./../assets/page/img3.jpg" alt="">
        </div>
        <div class="mini-dress-catogery">
        
            <div>
                <a ng-click="scrollToTop()" href="#!/Detail/5c6c011f3dbfb64a8e8c320e"> <img src="./../assets/page/mini-banner/womens1.jpg" alt=""></a>
            </div>
            <div>
                <a ng-click="scrollToTop()" href="#!Mens-All"> <img src="./../assets/page/mini-banner/mens1.jpg" alt=""></a>
            </div>
            <div>
                <a ng-click="scrollToTop()" href="#!Accessories-All"> <img src="./../assets/page/mini-banner/accessories.jpg" alt=""></a>
            </div>
            <div>
                <a ng-click="scrollToTop()" href="#!Accessories-All"> <img src="./../assets/page/mini-banner/accessories.jpg" alt=""></a>
            </div>
        
        </div>
        
        <br>
        <h4 class="center def-font-cap capetelize" >shop by category</h4>
        <br>
        
        <div ng-include="'control/catogeries.html'"></div>
        
        
        </div>
            <br>
            <br>
            <br>
            <h4 class="center def-font-cap">Latest Products</h4>
            <div class="" ng-controller="allDress">
                <div class="card-content-wrapper" ng-include="'/control/allDress.html'"></div>
            </div>
        </div>
        
                
        <div ng-include="'control/catogeries.html'"></div>
</div>