<div class="dashboard-wrapper" style="position: relative; top: -125px">
    <div class="section" >
        <div class="row" ng-controller="Dressfilter">
            <div class="section">
                <div class="left bredCrub-withut-shadow">
                    <a href="#!">Home</a>
                    <i class="material-icons">chevron_right</i>
                </div>
            </div>
            
        <div class="carousel carousel-slider z-2" style="top: -122px; height:510px;">
          <a ng-repeat="item in carosels" class="carousel-item" ng-href="{{item.link}}"><img style=" height:510px;" class="carosel-image" ng-src="{{item.img}}" ></a>
        </div>
        <a href="#!/Mens/T-Shirt">
        <div class="placeholder-img">
            <img ng-src="{{carosels[0].img}}" alt="">
        </div></a>
        <div class="mini-dress-catogery">
        
            <div>
                <a ng-click="scrollToTop()" href="#!/Detail/5c6c011f3dbfb64a8e8c320e"> <img src="https://raw.githubusercontent.com/klothingsshop/Klothings/master/mini-banner/girl.jpg" alt=""></a>
            </div>
            <div>
                <a ng-click="scrollToTop()" href="#!Mens-All"> <img src="https://raw.githubusercontent.com/klothingsshop/Klothings/master/mini-banner/img2.jpg" alt=""></a>
            </div>
            <div>
                <a ng-click="scrollToTop()" href="#!Accessories-All"> <img src="https://raw.githubusercontent.com/klothingsshop/Klothings/master/mini-banner/img3.jpg" alt=""></a>
            </div>
            <div>
                <a ng-click="scrollToTop()" href="#!Accessories-All"> <img src="https://raw.githubusercontent.com/klothingsshop/Klothings/master/mini-banner/img4.jpg" alt=""></a>
            </div>
        
        </div>
        
        <!-- <h4 class="center def-font-cap capetelize" >shop by category</h4> -->
        
        
        <div ng-include="'control/catogeries.html'"></div>
        
        
        </div>
            <br>
            <br>
            <br>
            <div class="" ng-controller="allDress" id="product-items">
                <div class="card-content-wrapper" ng-include="'/control/allDress.html'"></div>
            </div>
        </div>
        
                
</div>