<footer ng-class="{ 'container':isMobile }" ng-controller="footer-ctrl">

    <div class="foot-divs about">
        <ul>
            <h6>About</h6>
            <li><a target="_blank" href="/blog/about">about us</a></li>
            <li><a target="_blank" href="/blog/terms-and-conditions">terms &amp; conditions</a></li>
            <li><a target="_blank" href="/blog/privacy-policy">privacy policy</a></li>
            <li><a target="_blank" href="mailto:klothingsshop@gmail.com">contact us</a></li>
            <li><a target="_blank" href="https://klothings.blogspot.com/">Blog</a></li>
        </ul>
    </div>
    <div class="foot-divs shop-by">
        <ul>
            <h6>Shop By</h6>
            <li><a href="#!Mens-All">men</a></li>
            <li><a href=" #!Womens-All">women</a></li>
            <li><a href="#!Accessories-All">accessories</a></li>
            <li><a href="#!Coupens">offers</a></li>
            <li><a ng-click="scrollToTop()" href="#">Home</a></li>
        </ul>
    </div>
    <div class="foot-divs follow-us">
        <ul>
            <h6>Follow us</h6>
            <li><a  target="_blank" href="https://www.facebook.com/klothingsshop/">Facebook</a></li>
            <li><a  target="_blank" href="https://instagram.com/klothings_?utm_source=ig_profile_share&igshid=1dt0h6yrtrjqd">Instagram</a></li>
            <li><a  target="_blank" href="https://twitter.com/klothings1">Twitter</a></li>
            <li><a  target="_blank" href="https://in.pinterest.com/klothingsshop/pins/">Pintrest</a></li>
            <li><a  target="_blank" href="https://www.snapchat.com/add/klothings">SnapChat</a></li>
        </ul>
    </div>
    <div class="contact-div"class="sebscribe" ng-controller="sebscribe">
            <h6 class="center tops">Stay Updated</h6>
            <p class="center tops">Receive our latest update about our Coupens and Offers</p>
            <div class="res-to-sub">Thanks For Joining</div>
        <form class="w-200" >
            <div class="input-field inline ">
                <input id="email_inline1" type="email" ng-model="eMailId" class="validate font-10">
                <label for="email_inline1">Your email</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
            <button class="custome-submit-btn def-color white-text" ng-click="sendMail(eMailId)" type="submit"> <i class="material-icons">send</i>
            </button>
        </form>
    </div>
</footer>
<p class="ft-coppy-rightes center footer-copyright" style="background: #f8f8f8; font-size: 13px; text-transform: uppercase; margin: 0px;"> Copyright &copy; 2019 all right reserved </p>
