
<br>
<div class="card-content-wrapper2" ng-repeat=" ant in womens | filter: searcBoxOne | orderBy:sortBy | limitTo: 24">
    <a href="#!Detail/{{ant._id}}"  ng-click="scrollToTop();mobileNaveSerachc();searcBoxOne='';"> <div class="cart-images">
        <img class="im-1" ng-src="{{ant.img[0]}}" alt="">
        <img class="im-2" ng-src="{{ant.img[1]}}" alt="">
    </div></a>
    <div class="carte-description">
        <b class="descount-tag">{{ant.discount}}% OFF</b>
        <br>
        <h6 class="center pricing-part"> Rs.{{ant.ourPrice}} <span class="line-through">Rs. {{ant.marketPrice}} </span> </h6>
        
        <p class="center"> {{ant.name}} </p>
        <a class="buy-btn def-font-cap" href="{{ant.merchentUrl}}" target="_blank">Buy Now</a>
    </div>
</div>
<div class="card-content-wrapper2"  ng-repeat=" ant in mens | filter: searcBoxOne | orderBy:sortBy | limitTo: 24 ">
    <a href="#!Detail/{{ant._id}}"  ng-click="scrollToTop();mobileNaveSerachc();searcBoxOne='';"> <div class="cart-images">
        <img class="im-1" ng-src="{{ant.img[0]}}" alt="">
        <img class="im-2" ng-src="{{ant.img[1]}}" alt="">
    </div></a>
    <div class="carte-description">
        <b class="descount-tag">{{ant.discount}}% OFF</b>
        <br>
        <h6 class="center pricing-part"> Rs.{{ant.ourPrice}} <span class="line-through">Rs. {{ant.marketPrice}} </span> </h6>
        
        <p class="center def-font-cap"> {{ant.name}} </p>
        <a class="buy-btn" href="{{ant.merchentUrl}}" target="_blank">Buy Now</a>
    </div>
</div>

<br>
<div class="card-content-wrapper2"  ng-repeat=" ant in access | filter: searcBoxOne | orderBy:sortBy | limitTo: 24">
    <a href="#!Detail/{{ant._id}}"  ng-click="scrollToTop();mobileNaveSerachc();searcBoxOne='';"> <div class="cart-images">
        <img class="im-1" ng-src="{{ant.img[0]}}" alt="">
        <img class="im-2" ng-src="{{ant.img[1]}}" alt="">
    </div></a>
    <div class="carte-description">
        <b class="descount-tag">{{ant.discount}}% OFF</b>
        <br>
        <h6 class="center pricing-part"> Rs.{{ant.ourPrice}} <span class="line-through">Rs. {{ant.marketPrice}} </span> </h6>
        
        <p class="center def-font-cap"> {{ant.name}} </p>
        <a class="buy-btn" href="{{ant.merchentUrl}}" target="_blank">Buy Now</a>
    </div>
</div>